.issue-view-page {margin: 30px 50px 0;
  .head {width: 70%;
    .issue-user {
      .avatar {width: 70px; height: 70px; border-radius: 50%; display: inline-block; float: left;}
      .login {height: 70px; line-height: 70px; display: inline-block; margin: 0 0 0 20px; font-weight: 700; font-size: 1.1em;}
    }
    .issue-info {margin: 20px 0 0 0;
      .info-title {width: 100%; margin: 0 0 10px 0; font-size: 1.5em; font-style: italic; font-weight: 700;}
      .info-state {width: 100px; height: 30px; float: right; display: inline-block; line-height: 30px; color: $white-color; font-size: 1.1em; text-align: center; border-radius: 3px;
        &.open {background: $aplle-color;}
        &.close {background: $chery-color;}
      }
      .info-created {display: inline-block; line-height: 30px; color: $feind-color;}
    }
  }
  .body {width: 100%; clear: both; margin: 50px 0 0 0;}

}