$feind-color: #594F4F;
$rock-color: #547980;
$brick-color: #D95B43;
$aplle-color: #C7F464;
$chery-color: #FF6B6B;
$white-color: #ffffff;
$black-color: #000000;
$main-grey: #f6f2ee;

body{background: $main-grey; font-family: 'Lato', sans-serif; color: #3c3c3c;}

h3 {font-size: 2em; font-weight: 700;}
h4 {font-size: 1.6em; font-weight: 700;}

//reusable objects styles
.global {
  .clarification {font-style: italic; font-size: 1.2em;}
}

//Top bar
.status-bar {width: 100%; height: 50px; background: $feind-color;
  .bar-status {display: inline-block; height: 16px; margin: 17px 0 0 20px; padding: 0 0 0 20px; color: $white-color; font-size: 0.8em; background: url("./img/ajax-loader.gif") no-repeat;
    &.error {color: $brick-color;}
  }
  .back-btn {float: right; height: 100%; line-height: 50px; padding: 0 10px; text-decoration: none; color: #ffffff;
    &:hover {background: #271515;}
  }
}

@import "issues-list/styles/issues-list.scss";
@import "issue-view/styles/issue-view.scss";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);