.issues-list-page {
  .search-block {width: 400px; margin: 0 0 0 50px; text-align: center;
      .input {position: relative; z-index: 1; display: inline-block; width: 100%; margin: 1em 0; border-bottom: 1px solid #8c8c8c;
        .input-field {position: relative; border: none; outline: 0; background: none; width: 100%; height: 100%; font-size: 1.3em; line-height: 1.5em; margin: 17px 0 5px 0; padding: 0 5px;
          &:focus {outline: none;}
          &:focus, &.filled {
            +.input-placeholder {top: 0px;}
            +.input {
              &::after {width: 100%;}
            }
          }
        }
        .input-placeholder {position: absolute; left: 5px; top: 20px; display: inline-block; font-weight: 700; font-size: 1em; color: $rock-color; transition: top 0.3s ease;}
        .input-suggestion {position: absolute; left: 5px; bottom: 5px; font-size: 1.3em; line-height: 1.5em; z-index: -1; color: #b4b4b4;}
        &::after {position: absolute; width: 0%; height: 3px; left: 0; bottom: -2px; background: $brick-color; content: ' '; transition: width 0.3s ease;}
      }
  }
  .status-block {width: 380px; color: $white-color; margin: 0 0 0 50px; padding: 10px; font-size: 1.1em; text-align: center;
      &.status {background: $aplle-color; }
      &.error {background: $chery-color;}
  }
  .issues-list {width: 90%; margin: 0 50px; box-sizing: border-box;
    .list {list-style: none; padding: 0;
      .row, .heading {
        .cell { padding: 5px 0; box-sizing: border-box; display: inline-block;
          &.wh-1{width: 10%; min-width: 20px;}
          &.wh-2{width: 20%; min-width: 40px;}
          &.wh-7{width: 70%; min-width: 210px;}
        }
      }
      .heading {color: $rock-color}
      .row {
        &:hover {background: #C5E0DC;}
        a {text-decoration: none; color: #3c3c3c;}
      }
    }
  }
}
